.OverlayMenu {
  justify-content: center;
  align-items: center;
  background-color: rgba(213, 213, 213, 0.95);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: -10;
  opacity: 0;
  transition: background-color, opacity 500ms ease;

  &__nav {
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    margin: 0 0 20px;
  }

  &__elem {
    font-size: 25px;
    line-height: 1.6;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 10px 0;
    position: relative;
    text-transform: uppercase;

    &--active {
      position: relative;
      display: inline-block;

      &:before {
        content: '';
        border-bottom: 2px solid black;
        width: 100%;
        position: absolute;
        right: 0;
        top: 50%;
      }
    }

    & > a {
      color: black !important;
      text-decoration: none;
    }
  }
}

body.menu--open .OverlayMenu {
  z-index: 10;
  opacity: 1;
}

@media print, screen and (min-width: $breakpoint-tablet) {
  .OverlayMenu {
    &__nav {
      margin: 0 0 80px;
    }

    &__elem {
      font-size: 50px;
    }
  }
}
