.SideMenu {
  left: 43px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  position: fixed;
  text-transform: uppercase;
  top: 50%;
  z-index: 40;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    & a {
      position: relative;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      line-height: 1.5;
      text-decoration: none;
      display: block;
      padding: 0.7rem 1rem;
    }
  }

  &__dot {
    margin-top: -8px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 15px;
    height: 15px;

    &::before, &::after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 100%;
      transition: 0.35s transform, 0.35s opacity, 0.35s -webkit-transform;
    }

    &::before {
      width: 7px;
      height: 7px;
      background-color: $white;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &::after {
      width: 14px;
      height: 14px;
      border: 1px solid $white;
      -webkit-transform: translate(-50%, -50%) scale(0.5);
      -ms-transform: translate(-50%, -50%) scale(0.5);
      transform: translate(-50%, -50%) scale(0.5);
    }
  }

  &__link-name {
    display: inline-block;
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
    transition: 0.35s transform, 0.35s opacity;
  }

  & a.SideMenu__link--current, & a:hover {
    & .SideMenu__link-name {
      opacitY: 1;
      -webkit-transform: translate3d(12px, 0, 0);
      transform: translate3d(12px, 0, 0);
    }

    & .SideMenu__dot {
      &::before {
        -webkit-transform: translate(-50%, -50%) scale(0.15);
        -ms-transform: translate(-50%, -50%) scale(0.15);
        transform: translate(-50%, -50%) scale(0.15);
        opacity: 0;
        transition-delay: 0.2s;
      }

      &::after {
        -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

@media screen and (max-width: $breakpoint-tablet - 1px) {
  .SideMenu {
    display: none;
  }
}

body.menu--open .SideMenu {
  display: none;
}