@keyframes three-dimensions-circle {
  0% {
    transform: rotateX(-100deg) rotate(0.01deg);
  }
  50% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
  100% {
    transform: rotateX(-100deg) rotate(0.01deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}