.Hamburger {
  position: relative;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 20px;
  width: 50px;
  margin: 2px auto 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: 0 0;
  line-height: 1;
  cursor: none;
  outline: none;

  &__line {
    position: absolute;
    display: block;
    height: 2px;
    background-color: $white;
    transition: all 500ms ease;
    opacity: 0;

    &--top {
      top: 0;
      animation-duration: 0.5s;
      animation-name: hamburger-line-top;
      animation-fill-mode: forwards;
    }

    &--short {
      left: 5px;
      right: 5px;
    }

    &--middle {
      top: 50%;
      margin-top: -1px;
      left: 0;
    }

    &--long {
      right: 0;
      animation-duration: 0.5s;
      animation-name: hamburger-line-middle;
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
    }

    &--bottom {
      bottom: 0;
      animation-duration: 0.5s;
      animation-name: hamburger-line-bottom;
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
    }
  }

  body.menu--open &__line{
    background-color: black;

    &--top{
      right: 5px;
      transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 9);
    }

    &--middle{
      left: 0;
      transform: matrix(0, 0, 0, 1, 0, 0);
    }

    &--bottom{
      left: 5px;
      transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, -9);
    }
  }
}

@media print, screen and (min-width: $breakpoint-tablet) {
  .Hamburger {
    margin: 0;
  }
}