.Index {
  &__photo {
    object-fit: fill;

    &--vertical {
      height: 500px;
    }

    &--horizontal {
      width: 500px;
    }
  }

  &__tooltip {
    transition: opacity 500ms ease-out, visibility 500ms ease-out !important;
    z-index: -1 !important;
    border: none !important;
    background: inherit !important;

    &.show {
      opacity: 1 !important;
    }
  }

  & a {
    text-decoration: underline;
  }
}

.__react_component_tooltip {
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  left: -999em;
  opacity: 0;
  padding: 8px 21px;
  position: fixed;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  top: -999em;
  visibility: hidden;
  z-index: 999;
}
