.Skills {
  display: flex;
  flex-direction: column;

  &__text {
    text-align: center;
    z-index: 10000;
    font-size: 14px;
    padding-right: 0;
  }

  & .paragraph {
    position: relative;
    display: inline-block;
    margin: 18px 0;

    &::after {
      -webkit-animation-duration: 0.8s;
      animation-duration: 0.8s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      background-color: #fefefe;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transform: scale3d(0, 1, 1);
      transform: scale3d(0, 1, 1);
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center;
      transition: 0.35s transform;
    }
  }

  &__circle-wrapper {
    display: flex;
    opacity: 0;
    animation-duration: 0.5s;
  }

  &__circle {
    font-family: "Space Mono", monospace;
    transform-style: preserve-3d;
    animation: rotateCircle 15s linear infinite;
    margin-bottom: 150px;
  }

  &__circle-char {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    color: white;
    line-height: 1;
    font-size: 1em;
    z-index: 10000;
    padding: 5px 1px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-transform: capitalize;
    transform-style: preserve-3d;
    transform-origin: left center;
    transform: rotateY(calc(var(--char-index) * 7.2deg)) translateZ(100px) translateX(-50%) translateY(200%);
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .Skills {
    &__text {
      font-size: 22px;
    }

    &__circle {
      margin-bottom: 300px;
    }

    &__circle-char {
      font-size: 1.5em;
      padding: 5px 10px;
      border-top: 5px solid white;
      border-bottom: 5px solid white;
      transform: rotateY(calc(var(--char-index) * 7.2deg)) translateZ(300px) translateX(-50%) translateY(100%);
    }
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  .Skills {
    &__text {
      font-size: 22px;
      height: 100%;
    }
  }
}
