.Skills {
  &__text {
    text-align: left;
    z-index: 10000;
    font-size: 14px;
    max-width: 100%;
    padding-right: 0;
  }

  &__stripes-wrapper {
    font-family: 'Space Mono', monospace;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;

    & .Skills__stripe--third li, & .Skills__stripe--first li {
      border-left: 1px solid $black;
      background-color: $black;
      color: $white;
    }
  }

  &__stripe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50%;
    width: 100vw;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);

    & ul {
      margin: 0;
      list-style: none;
      transform-style: preserve-3d;
      text-transform: uppercase;
      color: #000000;
      font-weight: 400;
      font-size: 6vw;
    }

    &--first {
      top: 5vw;
      left: -3.6vw;

      & ul {
        animation: three-dimensions-circle 60s linear infinite;
      }
    }

    &--second {
      top: 0;
      left: -1.8vw;

      & ul {
        animation: three-dimensions-circle 30s linear infinite;
      }
    }

    &--third {
      top: -5vw;
      left: 0;

      & ul {
        animation: three-dimensions-circle 100s linear infinite;
      }
    }

    & li {
      position: absolute;
      top: 50%;
      left: 50%;
      border-left: 1px solid $white;
      background-color: $white;
    }

    @for $i from 1 through 68 {
      & li:nth-child(#{$i}) {
        transform: translate(-50%, -50%) rotate(#{-30 + 6 * $i }deg) translateY(-35vw) rotateX(90deg);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {

  .Skills__stripe {
    height: 60%;
  }

  .Skills__text {
    font-size: 22px;
    height: 40%;
    width: calc(50vw + 200px);
  }
}

@media screen and (orientation: landscape) {

  .Skills {
    &__stripe {
      height: 90%;
      width: calc(50vw + 20px);

      &--first {
        top: 2.5vw;
        left: -1.8vw;
      }

      &--second {
        top: 0;
        left: -0.9vw;
      }

      &--third {
        top: -2.5vw;
        left: 0;
      }

      & ul {
        font-size: 3vw;
      }

      @for $i from 1 through 68 {
        & li:nth-child(#{$i}) {
          transform: translate(-50%, -50%) rotate(#{-30 + 6 * $i }deg) translateY(-17.5vw) rotateX(90deg);
        }
      }
    }

    &__text {
      font-size: 14px;
      max-width: 50%;
      padding-right: 20px;
      height: 100%;
    }

    @media screen and (min-width: $breakpoint-tablet) {
      &__text {
        font-size: 18px;
        padding-right: 100px;
        max-width: calc(50% - 120px);
      }

      &__stripe {
        width: calc(50vw + 200px);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-laptop) {

  .Skills {
    &__stripe {
      height: 90%;
      width: calc(50vw + 200px);


      &--first {
        top: 2.5vw;
        left: -1.8vw;
      }

      &--second {
        top: 0;
        left: -0.9vw;
      }

      &--third {
        top: -2.5vw;
        left: 0;
      }

      & ul {
        font-size: 3vw;
      }

      @for $i from 1 through 68 {
        & li:nth-child(#{$i}) {
          transform: translate(-50%, -50%) rotate(#{-30 + 6 * $i }deg) translateY(-17.5vw) rotateX(90deg);
        }
      }
    }

    &__text {
      font-size: 22px;
      max-width: calc(50% - 120px);
      padding-right: 100px;
      height: 100%;
    }
  }
}